<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="/home"> <img alt="image" src="assets/img/esprit.png" class="header-logo" /> <span
                    class="logo-name"> ESPRIT</span>
            </a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Main</li>

            <li  class="dropdown">
                <a  *ngIf="isAdmin" class="menu-toggle nav-link has-dropdown"><i class="fa fa-users"></i><span>Gestion
                        Utilisateurs</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" routerLink="user/add">Ajouter Utilisateur</a></li>
                    <li><a class="nav-link" routerLink="user/all">Liste Utilisateurs</a></li>
                </ul>
            </li>

            <li  class="dropdown">
                <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-address-card"></i><span>Gestion
                        Etudiants</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" routerLink="etudiant/add">Ajouter Etudiant</a></li>
                    <li><a class="nav-link" routerLink="etudiant/all">Liste Etudiants</a></li>
                </ul>
            </li>

            <li  class="dropdown">
                <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-user-circle"></i><span>Gestion
                        Enseignants</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" routerLink="enseignant/add">Ajouter Enseignant</a></li>
                    <li><a class="nav-link" routerLink="enseignant/all">Liste Enseignants</a></li>
                </ul>
            </li>


            <li  class="dropdown">
                <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-list-alt"></i><span>Gestion
                        Classes</span></a>

            </li>

          <li  class="dropdown">
            <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-list-alt"></i><span>Gestion
              Modules</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" routerLink="module/add">Ajouter Modules</a></li>
              <li><a class="nav-link" routerLink="module/all">Liste Modules</a></li>
            </ul>
          </li>

            <li class="dropdown">
                <a routerLink="salle/all" class="nav-link"><i class="fa fa-home"></i><span>Gestion Salles</span></a>
            </li>

            <li  class="dropdown">
                <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-graduation-cap"></i><span>Gestion
                        Epreuves</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" routerLink="examen/add">Ajouter épreuve</a></li>
                    <li><a class="nav-link" routerLink="examen/all">Liste des épreuves</a></li>
                </ul>
            </li>

          <li  class="dropdown">
            <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-address-card"></i><span>Gestion
              Dispo salles</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" routerLink="disposalle/add">Ajouter Dispo salle</a></li>
              <li><a class="nav-link" routerLink="disposalle/all">Liste Dispo salle</a></li>
            </ul>
          </li>

            <li  class="dropdown">
                <a   class="menu-toggle nav-link has-dropdown"><i class="fa fa-calendar"></i><span>Calendrier
                        des Examens</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" routerLink="calendrier/classe">Par Classe</a></li>
                    <li><a class="nav-link" routerLink="calendrier/enseignant">Par Enseignant</a></li>
                    <li><a class="nav-link" routerLink="calendrier/salle">Par Salle</a></li>
                </ul>
            </li>

        </ul>
    </aside>
</div>
